*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

body{
    overflow: hidden;
    background-color: var(--dark-cyan);
    font-family: 'Kumbh Sans';
}

/*background pattern*/
.bg-top, .bg-bottom{
    max-width: 100%;
    position: absolute;
    z-index: -1;
} 
.bg-top{
    bottom: 60%;
    right: 50%;
}
.bg-bottom{
    left: 53%;
    top: 70%;
}

.flex-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-align: center;
}

.flex-item{
    background-color: white;
    border-radius: 15px; 
    margin-left: 30px;
    margin-right: 30px;
}

.card-bg{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.profile-picture{
    position: relative;
    border-radius: 100%;
    border: 5px solid white;
    margin-top: -15%;
}

.details{
    margin: 12px;
    line-height: 25px;
}

.name, .number{
    font-weight: 700;
}

.name{
    color: var(--very-dark-desaturated-blue);
}

span, .city{
    color: var(--dark-gray);
}

.city{
    font-size: 13px;
}

hr{
    opacity: 0.2;
}

span{
    padding-left: 4px;
}

.footer-container{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.stats{
    line-height: 20px;
    font-size: 18px;
}

.status{
    font-size: 10px;
    color: var(--dark-gray);
    letter-spacing: 2px;
}

@media screen and (min-width: 768px) {
    .bg-top{
        bottom: 45%;
        right: 50%;
    }
    .bg-bottom{
        top: 40%;
        left: 50%;
    }
    .flex-container{
        position: unset;
    }
    .flex-item{
        width: 25%;
    }
}